/* ======= ======= ======= ======= ======= */
/* ======= ======  MAIN.CSS  ===== ======= */ 
/* ======= ======= ======= ======= ======= */

/* ===  GLOBAL === */

body {
    background-color: #d0e8e3;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fredoka One', cursive;
}

a:link, a:visited {
    color: rgb(54,54,54);
    text-decoration: none;
    transition: ease 0.2s;
}

a:hover {
    color: rgba(54,54,54, 0.7);
    transition: ease 0.2s;
}

p {
    margin-bottom: 5px;
}

img {
    border-radius: 15px;
    border: 2px solid rgb(54,54,54);
}
code {
    color: #1b9fba;
    background-color: #fff;
    font-size: 12px;
}
.code-highlight{
    color: #fff;
    background-color: #1b9fba;
    font-size: 12px;
}

/* === TABLE STYLE === */

td.code-cell {
    width: 25%;
}

/* ===  BUTTONS === */

.button {
    margin-top: 10px;
    margin-right: 5px;
    border: 2px solid rgb(54,54,54);
    box-shadow: 2px 2px rgba(54,54,54, 0.7);
    background: none;
    letter-spacing: 0;
    transition: ease 0.3s;
}
.button:hover {
    border: 2px solid rgba(54,54,54, 0.5);
    color:rgba(54,54,54, 0.5);
    transition: ease 0.3s;
}

.inactive-btn {
    color: rgba(54,54,54, 0.5);
    border: 2px solid rgba(54,54,54, 0.5);
    cursor: none;
    box-shadow: none;
} 

/* ===  SECTIONS === */

#index-section {
    z-index: 0;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.title-section {
    background: #fff;
    padding: 25px 20px;
    border-radius: 15px;
    border: 2px solid rgba(54,54,54, 0.7);
    flex-flow: column;
}

/* ===  FOOTER === */

footer {
    margin-top: 10px;
    width: 20%;
}
footer a:link, a:visited {
    text-decoration: none;
    color: rgb(54,54,54);
}
footer a:hover {
    color: #fff;
    background-color: #bbd0cc;
}
footer span {
    font-size: 11px;
    text-transform: lowercase;
    letter-spacing: 1px;
}

/* ===  BONUS CRAP === */
.popop-label {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
}
.bulma-style:link, .bulma-style:visited {
    font-family: 'Fredoka One', cursive;
    color:#00d1b2;
}
.bulma-style:hover{
    color: #fff;
    background-color: #00d1b2;
}